#project {
    border-radius: 50px;
    width: max-content;
    height: max-content;
    font-weight: bold;
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
